html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="author" content="Founded")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

        title= title
        meta(name="keywords" content="homosexual")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

        meta(property="og:site_name" content="Founded")
        meta(property="og:site" content="https://founded.gay/")
        meta(property="og:title" content="Founded's Gay Website")
        meta(property="og:description" content="A silly little place for me to do silly little furry things")
        meta(property="og:image" content="https://founded.gay/images/site_icon.jpg")
        meta(property="og:url" content="https://founded.gay")

        link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" type="text/css")
        link(rel='stylesheet' href='/public/style.css')
    body
        h1(id='welcome') 'I am Founded'